BasedOnStyle: LLVM
Language: Cpp
BreakBeforeBraces: Attach
SpaceBeforeParens: Never
AlignConsecutiveMacros: true
IndentWidth: 4
ContinuationIndentWidth: 4
IndentCaseLabels: true
AccessModifierOffset: -4
PointerAlignment: Right
ColumnLimit: 100
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
NamespaceIndentation: None
FixNamespaceComments: false
SpaceAfterCStyleCast: false
Standard: C++11
IncludeBlocks: Preserve
SpacesBeforeTrailingComments: 1
AlignArrayOfStructures: Left
AllowShortFunctionsOnASingleLine: None
ConstructorInitializerAllOnOneLineOrOnePerLine: Yes
AlwaysBreakTemplateDeclarations: Yes
