
# kicad
**/*-backups
**/*.kicad_prl
**/fp-info-cache
**/fp-lib-table
**/sym-lib-table
**/#auto_saved_files#
**/_autosave-*
**/*.csv
**/*.xml
**/gerber
**/*.gbr
**/*.gbrjob
**/*.drl
**/*.zip
**/*.step

# software
**/build
.vscode
!software/identification/*.csv
open_optimizer
