
# matlab
**/slprj
**/*.slxc
**/*.slx.*
**/*.bak
**/*_anim_1.tif
**/*_cgxe.mexa64
**/*.thumbnail.png
**/*.asv

# kicad
**/*-backups
**/*.kicad_prl
**/fp-info-cache
**/fp-lib-table
**/sym-lib-table
**/#auto_saved_files#
**/*.csv
**/*.xml
**/gerber
**/*.gbr
**/*.gbrjob
**/*.drl
**/*.zip

# software
**/.vscode
**/build
**/a.out
